a {
    color: inherit;
  }
.cardText {
  box-shadow: 0px 0px 5px rgb(192, 192, 192);
}

body {
    overflow: scroll;
    user-select: none;
}

.scroller {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.button{
  transition: all 1s ease-out;
}

#confirm-password:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(179 98 255 / var(--tw-ring-opacity));
  border-color: rgb(179 98 255 / var(--tw-ring-opacity));
}