input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 0px;
    margin-right: 2px;
    opacity: 1;
    filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}