<!-- Dropdown menu -->
<div id="userDropdownInformation" class="hidden px-2">
    <div class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <div class="pl-4 pr-1 py-3 text-sm text-gray-900 dark:text-white">
          <div id="userLongName"></div>
          <div id="userEmail" class="font-medium truncate">dev.rmnabil@gmail.com</div>
        </div>
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">My Purchase</a>
          </li>
        </ul>
        <div class="py-2">
          <button id="logoutBtn2" class="block text-left w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</button>
        </div>
    </div>
</div>