<div class="relative bg-white rounded-lg shadow dark:bg-gray-700 p-6">
  <% for( let i = 0; i < types.length; i++ ) { %>
  <div><%= types[i].catagory %></div>
  <div>
    <% var row = Object.keys(types[i].tickets).length %>

    <% for( let j = 0; j < row; j++ ) { %>
    <div class="flex">
      <%var col = Object.keys(types[i].tickets[j]).length %>
      <% for( let k = 0; k < col; k++ ) { %>
      <div class="bg-slate-200 p-2 m-2 rounded-full whitespace-nowrap  w-15 h-15 text-xs">
        <%= types[i].tickets[j][k].sitId %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
</div>